// Use !{var} to use unescaped conent
style(type="text/css") !{compiledStyle}

div#main
  div.component
    p Weather report of Uganda, #{currentDate}

  each componentBuffer in components
    div.component
      img(src=`data:image/jpg;base64,${componentBuffer}`)

