$blue: #0084ff;
$blue-darker: darken($blue, 5);

body {
  background: #fff;
  font-family: Helvetica;
  margin: 0;
}

.component {
  height: calc(100% - 40px) ;
  margin: 20px;
  box-sizing: border-box;
  border: 1px solid red;
}
